{% extends "base.html" %}
{% block title %}Catálogo de Mesas{% endblock %}
{% block extra_head %}
<script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
<script>
$(function(){
  var $container = $('#container');
  $container.isotope({ });
  $('#filters a').click(function(){
    var selector = $(this).attr('data-filter');
    $container.isotope({ filter: selector });
    $('#filters a').removeClass('selected');
    $(this).addClass('selected');
    return false;
  });
});
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <article class="span12">
        <h2>Catálogo de Mesas</h2>
      </article> 
    </div>
    <div class="row">
      <article class="span12">
        <span class="txt-filter">Escoge tipo:</span>
        <ul id="filters">
          <li><a href="#" data-filter="*" class="selected">Todo</a></li>
          <li><a href="#" data-filter=".ejecutiva">Ejecutivas</a></li>
          <li><a href="#" data-filter=".operativa">Operativas</a></li>
          <li><a href="#" data-filter=".reunion">Reunión</a></li>
          <li><a href="#" data-filter=".plegables">Plegables</a></li>
        </ul>
      <div id="container" class="row">
        <div class="element ejecutiva">
          <div class="block-thumbnail-2">
            <figure class="img-polaroid-1"><img src="{{ url_for('static', filename='img/productos/mesa-ejecutiva.jpg') }}" alt=""></figure>
            <h3>Mesa Ejecutiva</h3> 
            <p>Mesa elegante para oficinas modernas.</p>
            <a href="#" class="link">Ver más</a>
          </div>
        </div>
        <div class="element operativa">
          <div class="block-thumbnail-2">
            <figure class="img-polaroid-1"><img src="{{ url_for('static', filename='img/productos/mesa-operativa.jpg') }}" alt=""></figure>
            <h3>Mesa Operativa</h3>
            <p>Mesa práctica y funcional para trabajo diario.</p>
            <a href="#" class="link">Ver más</a>
          </div>
        </div>
        <div class="element reunion">
          <div class="block-thumbnail-2">
            <figure class="img-polaroid-1"><img src="{{ url_for('static', filename='img/productos/mesa-reunion.jpg') }}" alt=""></figure>
            <h3>Mesa Reunión</h3>
            <p>Perfecta para salas de reuniones y juntas.</p>
            <a href="#" class="link">Ver más</a>
          </div>
        </div>
        <div class="element ejecutiva">
          <div class="block-thumbnail-2">
            <figure class="img-polaroid-1"><img src="{{ url_for('static', filename='img/productos/mesa-redonda.jpg') }}" alt=""></figure>
            <h3>Mesa Redonda</h3>
            <p>Mesa redonda para espacios colaborativos.</p>
            <a href="#" class="link">Ver más</a>
          </div>
        </div>
        <div class="element plegables">
          <div class="block-thumbnail-2">
            <figure class="img-polaroid-1"><img src="{{ url_for('static', filename='img/productos/mesa-plegable.jpg') }}" alt=""></figure>
            <h3>Mesa Plegable</h3>
            <p>Fácil de guardar, ideal para salas multiusos.</p>
            <a href="#" class="link">Ver más</a>
          </div>
        </div>
      </div>
      </article>
    </div>
</div>
{% endblock %}
